.card {
  .wrp {
    display: flex;
    flex-direction: column;
    align-items: center;

    // @include respond(mobileL) {
    //   align-items: center;
    // }

    .content {
      width: 326px;
      height: 326px;
      min-width: 326px;
      min-height: 326px;
      background: transparent;
      overflow: hidden;

      @include respond(laptop1920) {
        width: 256px;
        height: 256px;
        min-width: 256px;
        min-height: 256px;
      }

      @include respond(laptopL) {
        width: 256px;
        height: 256px;
        min-width: 256px;
        min-height: 256px;
      }

      @include respond(tabletL) {
        width: 168px;
        height: 168px;
        min-width: 168px;
        min-height: 168px;
      }
    }

    .title {
      @include Regular_52;

      background: linear-gradient(90deg, #B6DAFF 0%, #FFFFFF 45.5%, #505E7D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include respond(laptop1920) {
        font-size: 28px;
      }

      @include respond(tabletL) {
        font-size: 28px;
      }

      @include respond(mobileL) {
        text-align: center
      }
    }

    .description {
      @include Regular_24;

      @include respond(laptop1920) {
        font-size: 18px;
      }

      @include respond(tabletL) {
        font-size: 18px;
      }

      @include respond(mobileL) {
        text-align: center
      }
    }
  }
}