.container {
  position: relative;
  height: 64px; 
  overflow: hidden;
}

.text {
  @include Regular_52;
  color: var(--white);
  position: absolute;
  width: 100%;
  text-align: center;

  @include respond(laptop1920) {
    font-size: 24px;
  }

  @include respond(tabletL) {
    font-size: 24px;
  }

  @include respond(mobileL) {
    font-size: 20px;
  }
}
