.section {
  height: 100%;
  position: relative;
  margin-bottom: 74px;

  .wrp {
    padding: 104px 64px 865px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tabletL) {
      padding: 0px 20px 365px;
    }

    @include respond(mobileL) {
      padding: 0px 20px 298px;
    }

    .title {
      @include Regular_52;
      text-align: center;
      margin-bottom: 95px;
      background: linear-gradient(90deg, #B6DAFF 0%, #FFF 45.5%, #505E7D 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include respond(laptopL) {
        font-size: 42px;
      }

      @include respond(tabletL) {
        font-size: 42px;
        margin-bottom: 14px;
      }
    }

    .list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 28px;
      width: 100%;

      @include respond(tabletL) {
        gap: 8px;
      }

      .card {
        padding: 24px;
        width: 100%;
        max-width: max-content;
        border-radius: 5px;
        border: 1px solid #C2C2C2;
        background: rgba(9, 9, 9, 0.40);
        backdrop-filter: blur(2px);
        white-space: nowrap;
        @include Regular_32;
        font-size: 30px;

        @include respond(laptopL) {
          font-size: 24px;
          padding: 16px;
        }

        @include respond(tabletL) {
          padding: 0px;
          border: none;
          font-size: 20px;
          background: transparent;
        }

        @include respond(mobile375) {
          font-size: 16px;
        }
      }

      .divider {
        background: linear-gradient(180deg, #000 0%, #8090AA 59.5%, #000 100%);
        height: 1px;
        width: 100%;
        max-width: 170px;

        @include respond(tabletL) {
          background: var(--white);
          max-width: 32px;
        }
      }
    }
  }

  .videoWrapper {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;

    @include respond(mobileL) {
      bottom: 0px;
      transform: scale(1.2);
    }
  }
}
