.mainSection {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  padding: 334px 64px;

  @include respond(tabletL) {
    padding: 256px 24px;
  }

  @include respond(mobileL) {
    padding: 286px 24px 0;
  }

  .wrp {
    .info {
      max-width: 650px;

      .title {
        margin-bottom: 24px;
        text-align: left;
        background: linear-gradient(90deg, #b6daff 0%, #fff 45.5%, #505e7d 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 91px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 1.82px;

        @include respond(tabletL) {
          font-size: 64px;
        }

        @include respond(mobileL) {
          font-size: 40px;
        }
      }
    }
  }

  .videoWrapper {
    .video {
      position: absolute;
      right: 0%;
      top: -150px;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;

      @include respond(mobileL) {
        top: 0px;
      }
    }
  }
}
