.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;

    @include respond(tabletL) {
      padding: 24px 24px;
    }

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar {
      display: flex;

      @media (max-width: 912px) {
        display: none;
      }

      .list {
        display: flex;
        align-items: center;
        gap: 64px;

        .item {
          padding: 13px 0px;

          .link {
            @include Regular_18;
            color: var(--white);
            opacity: 0.7;
            @include transition;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
